.navbar {
    background-color: #CDCDCD;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .navbar-nav {
    font-weight: bold;
    font-family: 'QuickSand', sans-serif;
    font-size: 1.5em;
  }

  .navbar .current {
    color: black !important;
  }

  .navbar .nav__link {
    color: grey !important;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Averta, sans-serif;
    color: #fff;
    font-size: 56px;
    line-height: 44px;
    font-weight: 700;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Averta, sans-serif;
    font-size: 22px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    font-family: 'Book Antiqua';
    font-size: 14pt;
  }
  
  p {
    margin-bottom: 20px;
    font-family: 'Book Antiqua';
    font-size: 12pt;
  }
  
  a {
    -webkit-transition: border-color 200ms ease, color 200ms ease;
    transition: border-color 200ms ease, color 200ms ease;
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    border-bottom-color: #1d2330;
    color: #1d2330;
    text-decoration: none;
  }
  
  a:focus {
    border-bottom-color: #1d2330;
    color: #1d2330;
  }
  
  .content {
    margin-top: 60px;
  }
  
  .social-icon {
    margin-top: 60px;
    padding-right: 25px;
    float: left;
    border-bottom: 0px none #000;
  }

  .MsoListBulletCxSpFirst {
    margin-bottom: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

#footer {
    background-color: lightslategray;
    display: table-row;
    height: 0;
}