.navbar {
    background-color: #CDCDCD;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .navbar-nav {
    font-weight: bold;
    font-family: 'QuickSand', sans-serif;
    font-size: 1.5em;
  }

  .navbar .current {
    color: black !important;
    border-bottom: 2px solid #140b05;
  }

  .navbar .nav__link {
    color: grey !important;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Averta, sans-serif;
    color: #fff;
    font-size: 56px;
    line-height: 44px;
    font-weight: 700;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Averta, sans-serif;
    font-size: 22px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }

  h3 {
    font-family: 'Book Antiqua';
    font-size: 14pt;
  }
  
  p {
    margin-bottom: 20px;
    font-family: 'Book Antiqua';
    font-size: 12pt;
  }
  
  a {
    -webkit-transition: border-color 200ms ease, color 200ms ease;
    transition: border-color 200ms ease, color 200ms ease;
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    border-bottom-color: #1d2330;
    color: #1d2330;
    text-decoration: none;
  }
  
  a:focus {
    border-bottom-color: #1d2330;
    color: #1d2330;
  }
  
  .content {
    margin-top: 0.5px;
  }
  
  .social-icon {
    margin-top: 60px;
    padding-right: 25px;
    float: left;
    border-bottom: 0px none #000;
  }

  .MsoListBulletCxSpFirst {
    margin-bottom: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

#footer {
    background-color: lightslategray;
    display: table-row;
    height: 0;
}

* {
  box-sizing: border-box
}

.mySlides {
  display: none
}
img {
  vertical-align: middle;
  object-fit: scale-down;
}

/* Slideshow container */

.slideshow-container {
max-width: 80%;
position: relative;
margin: auto;
}

/* Next & previous buttons */

.prev, .next {
cursor: pointer;
position: absolute;
position: left;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: lightseagreen;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 50%;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
.dot{
 height: 10px;
  width: 10px;
}

@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 14px}
}
}