{% extends "base.html" %}

{% block content %}

<div class="container">
        <div class="content">
            <p>Hello, I'm Sicelo. I'm a product engineer at Intel Corporation. I have also worked as a process
                 and data systems engineer at Intel. I have been with the company since 2016.
            </p>

            <p>
                I have a passion for using data to drive decision making.
            </p>
            
            <p>My favorite programming languages are 
                <a href="https://www.w3schools.com/python" style="color:#659DBD;">Python</a> and
                <a href="https://www.w3schools.com/js" style="color:#659DBD;">JavaScript.</a>
                <br><br>
                Please check out my 
                <a href="{{ url_for('resume') }}" style="color:#659DBD;">resume</a> and 
                <a href="https://www.linkedin.com/in/sicelomasango/" style="color:#659DBD;">LinkedIn profile</a>
                to learn more about my educational background, skills, and professional experience.
            </p>
        </div>
</div>


{% endblock %}